[opendnssec]
database-file: /var/opendnssec/kasp.db
default-policy: default
signed-zones-dir: /var/opendnssec/signed
unsigned-zones-dir: /var/opendnssec/unsigned
work-dir: /var/opendnssec/tmp
path-to-odsksmutil: /usr/local/bin/ods-ksmutil

[menandmicesuite]
proxy-server: webui.example.com
central-server: central.example.com
username: administrator
password: administrator
master-dnsserver: dns1.example.com
dnssec-property-name: DNSSEC
policy-property-name: DNSSEC Policy
last-signed-property-name: Last Signed Date
next-expiry-property-name: Next Expiry Date
policy-list-update-save-comment: OpenDNSSEC integration script. Maintenance.

[bind9]
master-zones-dir: /var/named/hosts/masters

[odsmmsync]
syslog-process-tag: [odsmmsync]
script-dir: /var/named/scripts
slave-servers-list: /var/named/scripts/nameservers.lst
